/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

header { 
  background-color: black;
  padding: 50px;
  text-align: center;
  font: sans-serif;
  font-size: 25px;
  color: white;
  height: 260px;
}


#name {
     font-family: Brush Script MT;
     font-size: 40px;

     color: #b5ac8b;
     letter-spacing: 3px;
}

#course {
     font-family: monospace;
     color: #898881;
     font-size: 12px;
}


body {
     border: 1px dotted gray;
     padding: 20px;
     padding-left: 20%;
     padding-right: 20%;
     color: #22201e;	 
	 font-size: 12px;
	 }




nav {

  float: left;
  width: 19%;
  height: 300px; /* only for demonstration, should be removed */
  background: #22201e;
  padding: 20px;
  font-size: 12px;
}


nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;


}



article {
  float: right;
  padding: 20px;
  width: 70.5%;
  background-color: #4d4d4a;
  height: 300px; 
}


.icon{
     float: below;
     border-image-width: 100px;
     background-color:;
	margin-top: 5px;

}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}


 @media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


a:link{
     text-decoration: none;
     color: #898881;
   
}

a:visited {
     text-decoration: none;
     color: #898881;
}

li a:hover {
     text-decoration: capitalize;
     color: black;
     background-color: #b5ac8b;

}

a:active {
     text-decoration: none;
     color: #898881;
}