/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

header { 
  background-color: black;
  padding: 50px;
  text-align: left;
  font: sans-serif;
  font-size: 25px;
  color: white;
  height: 455px;
}


#name {
     font-family: Brush Script MT;
     font-size: 90px;
     color: #b5ac8b;
     letter-spacing: 3px;
}


#course {
     font-family: monospace;
     color: #898881;
     font-size: 20px;
}


body {
     border: 1px dotted gray;
     padding: 20px;
     padding-left: 10%;
     padding-right: 10%;
     color: #22201e;	 
	 }




nav {

  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;

nav ul {
  list-style-type: none;
  padding: 0;
}



article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
}


.icon{
     position: center;
     border-image-width: 100px;
     background-color: #21211f;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  float: buttom;
}