a:link {
  text-decoration: none;
  word-spacing: 1px;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}

a:active {
  text-decoration: none;
}


body {
 border: 1px dotted gray;
 padding-left: 30%;
 padding-right: 30%;
 background-color: black;
 color:gray;
}


.prev_emp, .acad_org, .int_club{border-color: gray; border-width: 3px;}


h1{
  margin-left: px;
  margin-top: 10%px;
}

h2{
  font-size: 25px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-top: 10%;
}


h4{
  margin-top: 30px;
  color: white;
}



html{ 
  color: black;
 }


hr{
  width: 100%;
}


.menu{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:#2A2D34;
  font-size: 15px;
  float: right;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding-right: : 10%;
  word-spacing:  50px;
  margin-bottom:  10%;
}

.menu a{
  word-spacing:  20px;
}



.upperboarder{
  background: transparent url(footer.png) repeat-x;
  background-position: top;
  text-align: center;
  height: 80px;
}


footer{
  height: 80px;
  margin-top: 5px;
  margin-bottom: 20px;
  word-spacing: 10px;
  object-position: center;
  text-align:  center;
  background: transparent url(footer.png) repeat-x;
  background-position: bottom;
}

footer img{
  width: 40px;
  height: 40px;  
}

.preamble {
  margin: 50px 0px 30px 30px;
  width: 710px;
  border: 7px solid gray;
  border-color: rgba(42, 45, 52, 1);
  background-color:white;
  text-align: center;
  position: relative;
  }


  .preamble h3 {
  width: 400px;
  margin: 0px;
  padding: 0px 0px 0px 34px;
  background: url(to_h3back_04.gif) no-repeat left top;
  line-height: 24px;
  text-align: left;
  position: absolute;
  top: -24px;
  z-index: 1;
  left: -3px;
  height: 23px;
  font: 20px Arial, Helvetica, sans-serif;
}