


.menu{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color:#2A2D34;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: : 10%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: ;
}

a:active {
  text-decoration: underline;
}

body {
     border: 1px dotted gray;
     padding-left: 30%;
     padding-right: 30%;
     color: #22201e;	